.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 636px;
  margin: 0 auto;
  padding-right: 17px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    padding-left: 9px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-right: 11px;
  }
}

.contacts__link {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  margin: 0 auto 30px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin: 0 auto 20px;
  }
}

.contacts__link--phone {
  padding-left: 23px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    padding-right: 21px;
  }
}

.contacts__link--phone svg {
  position: absolute;
  top: 2px;
  left: 1px;
}


.contacts__link span {
  margin: 0 0 0 15px;
  font-size: 16px;
  line-height: 32px;
  color: $basic__black;
  opacity: 0.5;
}

.contacts__link--email span {
  margin-top: -3px;
  line-height: 22px;
}

.contacts__link:hover span,
.contacts__link:focus span {
  opacity: 1;
}
