.map {
  position: relative;
  margin: 0 0 35px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin: 0 0 33px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin: 0 0 17px;
  }
}

.map img {
  display: block;
  width: 957px;
  height: 530px;
  object-fit: cover;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    min-width: 320px;
    height: 250px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    min-width: 698px;
    height: 545px;
  }
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 957px;
  height: 530px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    width: 100%;
    height: 250px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    width: 100%;
    height: 545px;
  }
}
