.page-body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $basic__black;
}

.mobile-menu {
  overflow: hidden;
}
