.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 880px;
  margin: 0 auto;

  @media (min-width: $mobile-width) and (max-width: $tablet-max-width) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
