.video {
  margin: 0 auto;
  padding: 121px 40px 0;
  text-align: center;
  background-image: linear-gradient($basic__dark 705px, transparent 705px);

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    padding: 84px 15px 0;
    background-image: linear-gradient($basic__dark 384px, transparent 384px);
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding: 70px 132px 0;
    background-image: linear-gradient($basic__dark 413px, transparent 413px);
  }
}

.video h2 {
  margin: 0 0 18px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.1px;
  color: $basic__white;

  @media (min-width: $mobile-width) and (max-width: $tablet-max-width) {
    margin: 0 0 20px;
    font-size: 24px;
  }
}

.video p {
  width: 340px;
  margin: 0 auto 56px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.08px;
  color: $basic__white;
  opacity: 0.7;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    width: 288px;
    margin: 0 auto 53px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    width: 429px;
    margin: 0 auto 40px;
  }
}

.video-player {
  position: relative;
  margin-left: 1px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin-left: 0;
  }
}

.video-player video {
  display: block;
  margin: 0 auto;
  object-fit: cover;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    width: 288px;
    height: 162px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    width: 503px;
    height: 282px;
  }
}

.video-player__button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 65px;
  height: 65px;
  margin: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    width: 73px;
    height: 73px;
    border: 4px solid $basic__white;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    bottom: 2px;
    right: 1px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    right: 2px;
    width: 90px;
    height: 90px;

    &:hover,
    &:focus {
      width: 98px;
      height: 98px;
    }
  }
}

.video-player__button svg {
  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    width: 90px;
    height: 90px;
  }
}
