// Colors

$basic__black: #000000;
$basic__white: #ffffff;
$basic__dark: #131314;
$basic__dark-two: #1c1c1c;
$basic__dark-three: #1f1f1f;
$basic__dark-four: #48494d;
$basic__light: #c9ccd4;
$basic__light-two: #f6f7f9;
$basic__light-three: #dadada;
$basic__light-four: #f6f6f6;
$basic__accent: #0ad9c6;
$basic__error: #fe7865;

// Viewports

$tablet-max-width: 1023px;
$tablet-width: 768px;
$mobile-max-width: 767px;
$mobile-width: 0;
