// Global

@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/global.scss";

// Blocks

@import "blocks/page-body.scss";
@import "blocks/page-header.scss";
@import "blocks/page-header-wrapper.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-header-container.scss";
@import "blocks/main-block.scss";
@import "blocks/selection-form.scss";
@import "blocks/success.scss";
@import "blocks/overlay.scss";
@import "blocks/facts.scss";
@import "blocks/bicycles.scss";
@import "blocks/video.scss";
@import "blocks/page-footer.scss";
@import "blocks/map.scss";
@import "blocks/contacts.scss";
